<div class="mask-custom " style="width: 25rem;">
         <div class="card-chat gap-3 card-body p-4 text-white">
            <div class="chat" >
               <h3 class="chat">
                  Hi 
               </h3>
            </div>
         </div>
</div>
