<div class="mask-custom " style="width: 25rem;">
         <div class="card-chat gap-3 card-body p-4 text-white">
            <div class="chat" >
             <!--<iframe src="https://giphy.com/embed/4HvglAWtvzQGaEyLj9" width="380" height="380" frameBorder="0" class="giphy-embed" allowFullScreen>
               </iframe>
               
               <a href="https://giphy.com/stickers/halloween-spooky-bat-4HvglAWtvzQGaEyLj9"></a>-->

               <%= image_tag "bat.gif", alt:"bat", class:"bat"%>

               <form action="">
                  <div class=”ask-form”>
                     <span class=”fa fa-user”></span>
                  <input type=”text” placeholder="Ask me anything">
               </form> 
               </div>
            </div>
         </div>
</div>
