  <div class="container"> 
         <div class="row">
         <!-- card1 -->
            <div class="card card-circle">
               <div class="card-icon">
                  <i class="fa-regular fa-calculator" style="color: #fcfcfc;"></i>
               </div>
               <div class="card-body">
                  <a href="https://www.ixl.com/math/grade-3/division-facts-for-6-7-8-and-9-sorting" class="btn btn-primary">GO</a>
               </div>
            </div>
            <!-- card2 -->
            <div class="card card-circle">
               <div class="card-icon">
                  <i class="fa-brands fa-google-drive" style="color: #fcfcfc;"></i>
               </div>
               <div class="card-body">
                  <a href="https://docs.google.com/presentation/d/1Oj1rMTFfSjSsyMgr5F_LTERLBQ_hfb_xT57tirPWPd8/edit?usp=sharing" class="btn btn-primary">GO</a>
               </div>
            </div>
            <!-- card3 -->
            <div class="card card-circle ">
               <div class="card-icon">
                  <i class="fa-solid fa-book" style="color: #fcfcfc;"></i>
               </div>
               <div class="card-body">
                  <a href="https://www.raz-kids.com/" class="btn btn-primary">GO</a>
               </div>
            </div>
         </div>
      </div>
