<!--<form action="/insert_todo" method="post">
  <div>
    <label for="category_id_box">Subject:</label> 
    <select id="category_id_box" name="category_id">
      <% Category.all.each do |option| %>
        <option value="<%= option.id %>"><%= option.description %></option>
      <% end %>
    </select>
   </div>

    <div>
      <label for="content_box">
         Describe the task:
      </label>

     <input type="text" id="content_box" name="query_content">
    </div>

    <button>
      Add to list
    </button>
  </form>-->

<form action="/insert_todo" method="post">
<div class="input-group mb-3">
  <label class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" for="category_id_box">Subject</label>
  <select class="dropdown-menu" id="category_id_box" name="category_id">
      <% Category.all.each do |option| %>
        <option value="<%= option.id %>"><%= option.description %></option>
      <% end %>
  </select>
  <input for="content_box" type="text" id="content_box" name="query_content" class="form-control" aria-label="Text input with dropdown button" placeholder="New task">
</div>
  <button type="button" class="btn btn-secondary">Add</button>
</form>
