<form action="/insert_todo" method="post">
  <div>
    <label for="category_id_box">Subject:</label> 
    <select id="category_id_box" name="category_id">
      <% Category.all.each do |option| %>
        <option value="<%= option.id %>"><%= option.description %></option>
      <% end %>
    </select>
   </div>

    <div>
      <label for="content_box">
         Describe the task:
      </label>

     <input type="text" id="content_box" name="query_content">
    </div>

    <button>
      Add to list
    </button>
  </form>
