<div class="progress my-5" style="width: 40rem;">
  <div
    class="progress-bar progress-bar-striped bg-info progress-bar-animated"
    role="progressbar"
    aria-label="Animated striped example"
    aria-valuenow="<%= @current_user.todos_completed_today.count %>"
    aria-valuemin="0"
    aria-valuemax="<%= @current_user.daily_todo_goal %>"
    style="width: <%= (@current_user.todos_completed_today.count / @current_user.daily_todo_goal.to_f) * 100 %>%"
  >
  </div>
</div>
