/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
.nav_logo {
  height: auto;
  position: relative; 
  width: 50px; 
  height: 50px; 
  overflow: hidden; 
  border-radius: 50%;
  object-fit: cover;
}

body {
  background-image: url("background");
  font-family: 'Comfortaa', cursive;
  background-size: cover;
  
  background-repeat: no-repeat;
}

.bg-green {
  background-color: #2E4F4F;
}

h1 {
  color: #241E92;
}

h2 {
  color: gainsboro;
}

h3 {
  color: #241E92;
}


.castle {
  border-radius: 200px;
}

.iden_button {
  background-color: #5432D3;
  color: #DECEFE;
  border: solid 2px #5432D3;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  float: left;
  padding: 15px;
  justify-content: space-around;
  box-shadow: 6px 6px 10px rgb(107, 109, 109);
}

.class_image {
  width: 300px;
  height: auto;
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #CBE4DE 5px;
  object-fit: cover;
  
}

.gallery {
  margin: auto;
  position: absolute;
  right: 50px;
  width: 600px;
  padding: 70px 0;
  box-shadow: 5px 5px 10px rgb(55, 56, 56);
}

.gallery_1 {
  margin: auto;
  position: absolute;
  right: 10px;
  width: 600px;
  padding: 70px 0;
}

.gallery_2 {
  margin: auto;
  position: absolute;
  right: 0px;
  width: 600px;
  padding: 70px 0;
}

.logo {
  width: 300px;
  height: auto;
  position: relative; 
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #CBE4DE 3px;
  object-fit: cover;
}

.card {
  position: absolute;

}

.card-body {
  
}

.bg-indigo {
  background-color: $indigo-400;
}

#box1 {
  background-color: #885DF1;
  width: 400px;
  height: 800px;
  padding: 10px 10px 10px 10px;
  position: absolute;
  top: 100px;
  right: 50px;
  border-radius: 40px;
}

#box2 {
  background-color: red;
  width: 300px;
  height: 350px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 375px;
  right: 50px;
}

#box3 {
  background-color: green;
  width: 300px;
  height: 125px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 240px;
  right: 50px;
}

#box4 {
  background-color: yellow;
  width: 300px;
  height: 200px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  bottom: 30px;
  right: 50px;
}

.welcome {
  color: whitesmoke;
}

.well-name {
  display: flex;
  margin-left: 35px;
  margin-top: 10px;
}
