/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
.nav_logo {
  height: auto;
  position: relative;
  width: 50px; 
  height: 50px; 
  overflow: hidden; 
  border-radius: 50%;
  object-fit: cover;
}

body {
  background: linear-gradient(90deg, rgb(125, 64, 246) 0%, rgb(80, 139, 252) 100%);
  font-family: 'Comfortaa', cursive;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: gainsboro;
}

h3 {
  color: whitesmoke;
}

.castle {
  border-radius: 200px;
}

.row {
  display: flex;
  margin-left: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.iden_button {
  background-color:#508BFC;
  color: whitesmoke;
  border: solid 2px #508BFC;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  float: left;
  padding: 15px;
  justify-content: space-around;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.class_image {
  width: 400px;
  height: auto;
  position: relative; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #C4BDFE 7px;
  object-fit: cover; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.class_image1 {
  width: 300px;
  height: auto;
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #C4BDFE 7px;
  object-fit: cover; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.gallery {
  margin: auto;
  position: absolute;
  right: 50px;
  width: 600px;
  padding: 70px 0;
}

.gallery_1 {
  margin: auto;
  position: absolute;
  right: 10px;
  width: 600px;
  padding: 70px 0;
}

.gallery_2 {
  margin: auto;
  position: absolute;
  right: 0px;
  width: 600px;
  padding: 70px 0;
}

.logo {
  width: 300px;
  height: auto;
  position: relative; 
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #CBE4DE 3px;
  object-fit: cover;
}

.gradient-custom-2 {
  background: #7e40f6;

  background: -webkit-linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );

  background: linear-gradient(
    to right,
    rgba(126, 64, 246, 1),
    rgba(80, 139, 252, 1)
  );
}

.mask-custom {
  background: rgba(24, 24, 16, 0.2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.add {
  background-color: #508BFC;
  color: whitesmoke;
  border: solid 2px #508BFC;
  border-radius: 8px;
  padding: 2px 10px;
  float: left;
  justify-content: space-around;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
}

/**/

.card-circle {
    text-align:center;
     margin-top:30px;
     margin-bottom: 75px;
     background: linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);    
     border:10px solid transparent;
     color:#fff;
     padding:50px;
     border-radius:50%;
     background-clip: padding-box; 
}

 .card-circle .card-text {
    font-weight:400;
}
 .card-circle .card-icon i {
     font-size: 40px;
     display: block;
}
 .card-circle:nth-child(2) {
    background: #274783;
}
 .card-circle .btn {
  background: transparent;
  border:1px solid #fff;
  text-transform: uppercase;
  padding: 5px 10px;    
  border-radius:15px;
  Font-weight: 200;
}
.card-circle .btn,.card-circle .card-icon i,.card-circle {
   transition: all ease-in-out 0.2s;
}
 .card-circle:hover .btn {
    background:#ce68ae;
     color:#fff;
   border: 1px solid transparent;
}
 .card-circle .btn:hover {
    transform: scale(1.1);
}
 .card-circle:hover {
    border:10px solid#ce68ae;
}
 .card-circle:hover i {
   text-shadow: 0px -1px 10px #ce68ae;
    transform:scale(1.2)rotate(20deg);
}
 @media only screen and (min-width: 1200px) {
     .card-circle:nth-child(3){
         margin-left:-40px;
         z-index:0;
    }
     .card-circle {
         width:100px; /* changes the size of card minus the inside content */
         height:100px;
    }
     .card-circle:nth-child(2) {
         margin-left:-20px;
         box-shadow: 1px 2px 20px 8px rgba(241, 235, 235, 0.12);
         transform: scale(1.0);
         z-index:1;
    }
   .card-circle .card-icon i {
      margin-top: 5px;
     }
}
@media only screen and (min-width: 991px) and (max-width: 1200px) {
   .card-circle {
         width:40px; 
         height:40px; 
    }
  .card-circle .card-icon i {
      margin-top: 0px;
     }
   .card-circle:nth-child(3) {
         margin-left:-50px;
         z-index:0;
    }
   .card-circle:nth-child(2) {
         margin-left:-20px;
         z-index:1;
    }
}
 .card-chat {
   padding-top: 10px;
   margin-top: 10px;
 }

 .card-progress {
  padding-top: 5px;
 }
