/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
.nav_logo {
  height: auto;
  position: relative; 
  width: 50px; 
  height: 50px; 
  overflow: hidden; 
  border-radius: 50%;
  object-fit: cover;
}

body {
  background-color: #2E4F4F;
  font-family: 'Comfortaa', cursive;
}

.bg-green {
  background-color: #2E4F4F;
}

h1 {
  color: gainsboro;
}

h2 {
  color: gainsboro;
}

.castle {
  border-radius: 200px;
}

.iden_button {
  background-color: #2E4F4F;
  color: #CBE4DE;
  border: solid 2px;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  float: left;
  padding: 15px;
  justify-content: space-around;
}

.class_image {
  width: 300px;
  height: auto;
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #CBE4DE 5px;
  object-fit: cover;
}

.gallery {
  margin: auto;
  position: absolute;
  right: 50px;
  width: 600px;
  padding: 70px 0;

}

.gallery_1 {
  margin: auto;
  position: absolute;
  right: 10px;
  width: 600px;
  padding: 70px 0;
}

.gallery_2 {
  margin: auto;
  position: absolute;
  right: 0px;
  width: 600px;
  padding: 70px 0;
}

.logo {
  width: 300px;
  height: auto;
  position: relative; 
  width: 100px; 
  height: 100px; 
  overflow: hidden; 
  border-radius: 50%;
  border: solid #CBE4DE 3px;
  object-fit: cover;
}

.card {
  position: absolute;
}

.card-body {
  
}
