<div class="identify">
<h1>Welcome to Castle</h1>
<p>
Our goal is to enhance personalized learning, improve student engagement, and provide teachers 
with valuable insights to tailor their teaching strategies.
</p>

<!--
<h2>Pick your role</h2>

<button>
  <a href="/user_sign_in?role=teacher">I AM A TEACHER </a> 
</button>

<button>
  <a href="/user_sign_in?role=student">I AM A STUDENTS</a>
</button>
-->
  <form action="/user_sign_in">
    <input type="hidden" name="role" value="teacher">
    <button class="iden_button">I AM A TEACHER</button>
  </form>

  <form action="/user_sign_in">
    <input type="hidden" name="role" value="student">
    <button class="iden_button">I AM A STUDENT</button>
  </form>
</div>

<div class="gallery">
    <img src="images/classroom1.jpg" alt="class1">
</div>
