<div class="row">
  <div class="col-12 col-lg-6">
    <h1>Welcome to Castle</h1>
    <p>
      Our goal is to enhance personalized learning, improve student engagement, and provide teachers 
      with valuable insights to tailor their teaching strategies.
    </p>
    <div class="d-flex">
      <div class="me-2">
        <form action="/user_sign_in">
          <input type="hidden" name="role" value="teacher">
          <button class="iden_button">I AM A TEACHER</button>
        </form>
      </div>
      <div>
        <form action="/user_sign_in">
          <input type="hidden" name="role" value="student">
          <button class="iden_button">I AM A STUDENT</button>
        </form>
      </div>
    </div>
  </div>

  <div class="d-none d-lg-block col-lg-6">
    <div class="col-lg-4">
      <%= image_tag "classroom1", alt:"two students working on laptops", class:"class_image" %>
    </div>

    <div class="offset-lg-8 col-lg-4">
      <%= image_tag "classroom4", alt:"student holding iPad", class:"class_image" %>
    </div>

    <div class="col-lg-4">
      <%= image_tag "classroom3", alt:"three students presenting their work", class:"class_image" %>
    </div>
  </div>
</div>
