<div class="position-absolute top-50 start-50 translate-middle" >
<!-- <%= image_tag "castle_logo.png", alt:"class", class:"logo" %><h1>Castle</h1>

<h2>Sign in to your account</h2>-->

<hr>

<div class="card">
  <div class="card-body">
    <form class="form-floating mb-3" action="/user_verify_credentials" method="post">
      <input id="role_box" name="query_role" value="<%= @role || "student" %>" type="hidden">

      <% if @role == "teacher" %>
        <div class="form-floating mb-3">
          <input id="email_box" name="query_email" placeholder="name@example.com" type="email" class="form-control">
          <label for="email_box">Email</label>
        </div>
      <% elsif @role == "student" %>
        <div class="form-floating mb-3">
          <input id="username_box" name="query_username" type="username" class="form-control" placeholder="username">
          <label for="username_box">Username</label>
        </div>
      <% end %>

      <div class="form-floating mb-3">
        <input id="password_box" name="query_password" class="form-control" placeholder="password" type="password">
        <label for="password_box">Password</label>
      </div>
     
      <div class="mb-3">
        <button class="btn btn-outline-secondary w-100">Sign in</button>
      </div>


     <p>Do not have an account? <a href="/user_sign_up">Sign up</a> instead.</p>
  </form>
</div>
</div>
